{* Extend our master template *}
{extends file="default/template.html"}

{block name=specific_js}
<!-- Theme JS files -->
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/visualization/d3/d3.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/page/dashboard.js"></script>
{/block}

{block name=main_content}

<div class="row">
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-body text-center">
				<div class="icon-object border-success-400 text-success"><i class="icon-book"></i></div>
				<h5 class="text-semibold">Knowledge Base</h5>
				<p class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately alongside candidly much and jeez</p>
				<a class="btn bg-success-400" href="#">Browse articles</a>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel">
			<div class="panel-body text-center">
				<div class="icon-object border-warning-400 text-warning"><i class="icon-lifebuoy"></i></div>
				<h5 class="text-semibold">Support center</h5>
				<p class="mb-15">Dear spryly growled much far jeepers vigilantly less and far hideous and some mannishly less jeepers less and and crud</p>
				<a class="btn bg-warning-400" href="#">Open a ticket</a>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel">
			<div class="panel-body text-center">
				<div class="icon-object border-blue text-blue"><i class="icon-reading"></i></div>
				<h5 class="text-semibold">Articles and news</h5>
				<p class="mb-15">Diabolically somberly astride crass one endearingly blatant depending peculiar antelope piquantly popularly adept much</p>
				<a class="btn bg-blue" href="#">Browse articles</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h6 class="panel-title">{lang('dashboard_latest_post')}</h6>
				<div class="heading-elements">
					<ul class="icons-list">
                		<li><a data-action="collapse"></a></li>
                		<li><a data-action="reload"></a></li>
                		<li><a data-action="close"></a></li>
                	</ul>
            	</div>
        	<a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<ul class="media-list content-group">
						{foreach from=$posts key=id item=p}
						{if $id % 2 eq 0}
							<li class="media stack-media-on-mobile">
								<div class="media-left">
									<div class="thumb">
										<a href="#">
											<img alt="" class="img-responsive img-rounded media-preview" src="{theme_url()}uploads/post/{$p->images}">
											<span class="zoom-image"><i class="icon-play3"></i></span>
										</a>
									</div>
								</div>

								<div class="media-body">
									<h6 class="media-heading"><a href='{site_url("post/edit-post/`$p->id`")}'>{$p->title}</a></h6>
					        		<ul class="list-inline list-inline-separate text-muted mb-5">
					        			<li><i class="icon-book-play position-left"></i> {$p->category}</li>
					        			<li>{time_elapsed_string($p->created)}</li>
					        		</ul>
									{limit_to_numwords($p->intro, 10)} ...
								</div>
							</li>
						{/if}
						{/foreach}
						</ul>
					</div>
					<div class="col-lg-6">
						<ul class="media-list content-group">
						{foreach from=$posts key=id item=p}
						{if $id % 2 eq 1}
							<li class="media stack-media-on-mobile">
								<div class="media-left">
									<div class="thumb">
										<a href="#">
											<img alt="" class="img-responsive img-rounded media-preview" src="{theme_url()}uploads/post/{$p->images}">
											<span class="zoom-image"><i class="icon-play3"></i></span>
										</a>
									</div>
								</div>

								<div class="media-body">
									<h6 class="media-heading"><a href='{site_url("post/edit-post/`$p->id`")}'>{$p->title}</a></h6>
					        		<ul class="list-inline list-inline-separate text-muted mb-5">
					        			<li><i class="icon-book-play position-left"></i> {$p->category}</li>
					        			<li>{time_elapsed_string($p->created)}</li>
					        		</ul>
									{limit_to_numwords($p->intro, 10)} ...
								</div>
							</li>
						{/if}
						{/foreach}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">

	<!-- My messages -->
	<div class="panel panel-flat">
		<div class="panel-heading">
			<h6 class="panel-title">{lang('dashboard_my_messages')}</h6>
			<div class="heading-elements">
				<span class="heading-text"><i class="icon-history text-warning position-left"></i> Jul 7, 10:30</span>
				<span class="label bg-success heading-text">Online</span>
			</div>
		</div>

		<!-- Numbers -->
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-md-4">
					<div class="content-group">
						<h6 class="text-semibold no-margin"><i class="icon-clipboard3 position-left text-slate"></i> 2,345</h6>
						<span class="text-muted text-size-small">this week</span>
					</div>
				</div>

				<div class="col-md-4">
					<div class="content-group">
						<h6 class="text-semibold no-margin"><i class="icon-calendar3 position-left text-slate"></i> 3,568</h6>
						<span class="text-muted text-size-small">this month</span>
					</div>
				</div>

				<div class="col-md-4">
					<div class="content-group">
						<h6 class="text-semibold no-margin"><i class="icon-comments position-left text-slate"></i> 32,693</h6>
						<span class="text-muted text-size-small">all messages</span>
					</div>
				</div>
			</div>
		</div>
		<!-- /numbers -->


		<!-- Area chart -->
		<div id="messages-stats"></div>
		<!-- /area chart -->


		<!-- Tabs -->
    	<ul class="nav nav-lg nav-tabs nav-justified no-margin no-border-radius bg-indigo-400 border-top border-top-indigo-300">
			<li class="active">
				<a href="#messages-tue" class="text-size-small text-uppercase" data-toggle="tab">
					Tuesday
				</a>
			</li>

			<li>
				<a href="#messages-mon" class="text-size-small text-uppercase" data-toggle="tab">
					Monday
				</a>
			</li>

			<li>
				<a href="#messages-fri" class="text-size-small text-uppercase" data-toggle="tab">
					Friday
				</a>
			</li>
		</ul>
		<!-- /tabs -->


		<!-- Tabs content -->
		<div class="tab-content">
			<div class="tab-pane active fade in has-padding" id="messages-tue">
				<ul class="media-list">
				{foreach $inbox as $a}
					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-xs" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								{$a->name}
								<span class="media-annotation pull-right">{time_elapsed_string($a->created)}</span>
							</a>

							<span class="display-block text-muted">{$a->subject}</span>
						</div>
					</li>
				{/foreach}
				</ul>
			</div>

			<div class="tab-pane fade has-padding" id="messages-mon">
				<ul class="media-list">
					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Isak Temes
								<span class="media-annotation pull-right">Tue, 19:58</span>
							</a>

							<span class="display-block text-muted">Reasonable palpably rankly expressly grimy...</span>
						</div>
					</li>

					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Vittorio Cosgrove
								<span class="media-annotation pull-right">Tue, 16:35</span>
							</a>

							<span class="display-block text-muted">Arguably therefore more unexplainable fumed...</span>
						</div>
					</li>

					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Hilary Talaugon
								<span class="media-annotation pull-right">Tue, 12:16</span>
							</a>

							<span class="display-block text-muted">Nicely unlike porpoise a kookaburra past more...</span>
						</div>
					</li>

					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Bobbie Seber
								<span class="media-annotation pull-right">Tue, 09:20</span>
							</a>

							<span class="display-block text-muted">Before visual vigilantly fortuitous tortoise...</span>
						</div>
					</li>

					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Walther Laws
								<span class="media-annotation pull-right">Tue, 03:29</span>
							</a>

							<span class="display-block text-muted">Far affecting more leered unerringly dishonest...</span>
						</div>
					</li>
				</ul>
			</div>

			<div class="tab-pane fade has-padding" id="messages-fri">
				<ul class="media-list">
					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Owen Stretch
								<span class="media-annotation pull-right">Mon, 18:12</span>
							</a>

							<span class="display-block text-muted">Tardy rattlesnake seal raptly earthworm...</span>
						</div>
					</li>

					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Jenilee Mcnair
								<span class="media-annotation pull-right">Mon, 14:03</span>
							</a>

							<span class="display-block text-muted">Since hello dear pushed amid darn trite...</span>
						</div>
					</li>

					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Alaster Jain
								<span class="media-annotation pull-right">Mon, 13:59</span>
							</a>

							<span class="display-block text-muted">Dachshund cardinal dear next jeepers well...</span>
						</div>
					</li>

					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Sigfrid Thisted
								<span class="media-annotation pull-right">Mon, 09:26</span>
							</a>

							<span class="display-block text-muted">Lighted wolf yikes less lemur crud grunted...</span>
						</div>
					</li>

					<li class="media">
						<div class="media-left">
							<img src="{theme_url()}/panel/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>

						<div class="media-body">
							<a href="#">
								Sherilyn Mckee
								<span class="media-annotation pull-right">Mon, 06:38</span>
							</a>

							<span class="display-block text-muted">Less unicorn a however careless husky...</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- /tabs content -->

	</div>
	<!-- /my messages -->

	</div>
</div>
{/block}