{* Extend our master template *}
{extends file="default/template.html"}

{block name=specific_js}
<!-- Theme JS files -->
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/media/fancybox.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/notifications/sweet_alert.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/page/gallery.js"></script>
{/block}


{block name=page_navigations}
	{anchor("gallery/add-gallery", "<b><i class='icon-images2'></i></b>"|cat:lang('gallery_add'),"class='btn bg-teal-400 btn-labeled heading-btn'")}
	{anchor("gallery/add-album", "<b><i class='icon-images2'></i></b>"|cat:lang('gallery_add_album'),"class='btn bg-teal-400 btn-labeled heading-btn'")}
{/block}


{block name=main_content}
<!-- Table -->
<div class="panel panel-flat">
	<div class="panel-heading">
		<h5 class="panel-title">{lang('gallery_heading')}</h5>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        		<li><a data-action="close"></a></li>
        	</ul>
    	</div>
	</div>

	<div class="panel-body">

	</div>

	<table class="table datatable-basic" id="gallery-list">
		<thead>
			<tr>
				<th width="10px"><input type="checkbox" class="styled" id="check-all"></th>
				<th>{lang('gallery_preview')}</th>
				<th>{lang('gallery_title')}</th>
				<th>{lang('gallery_album')}</th>
				<th>{lang('gallery_author')}</th>
				<th>{lang('gallery_status')}</th>
				<th>{lang('gallery_date')}</th>
				<th>{lang('gallery_fileinfo')}</th>
				<th class="text-center">{lang('general_actions')}</th>
			</tr>
		</thead>
		<tbody>
		{if (count($gallery))}
			{foreach $gallery as $item}
			<tr>
				<td><input type="checkbox" name="gallery-id[]" class="styled" value="{$item->id}"></td>
				<td><a href="{$fulldomain}/themes/default/uploads/gallery/{$item->images}" title="{$item->title}" data-popup="lightbox"><img class="img-rounded img-preview" src="{$fulldomain}/themes/default/uploads/gallery/{$item->images}" alt=""></a></td>
				<td>{$item->title}</td>
				<td>{anchor("gallery/album/`$item->catid`",$item->category)}</td>
				<td><a href="#">{$item->author}</a></td>
				<td>{(($item->status eq '1') ? '<span class="label label-success">active' : '<span class="label label-default">draft')}</span></td>
				<td>{fdate($date_format, $item->created)}</td>
				<td><strong>Size:</strong> {$item->image_size} kb <br> <strong>Format:</strong> {$item->image_format}</td>
				<td class="text-center">
					<ul class="icons-list">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-menu9"></i>
							</a>

							<ul class="dropdown-menu dropdown-menu-right">
								<li>{anchor("gallery/edit-gallery/`$item->id`","<i class='icon-pencil7'></i>"|cat:lang('general_edit'))}</li>
								<li>
								{if $item->status eq '1'}
									{anchor("gallery/publish-gallery/deactive/`$item->id`","<i class='icon-earth'></i>"|cat:lang('general_set_as_draft'))}
								{else}
									{anchor("gallery/publish-gallery/active/`$item->id`","<i class='icon-earth'></i>"|cat:lang('general_publish'))}
								{/if}
								</li>
								<li class="divider"></li>
								<li>{anchor("gallery/delete-gallery/`$item->id`","<i class='icon-bin'></i>"|cat:lang('general_delete')," data-trigger='delete'")}
								</li>
							</ul>
						</li>
					</ul>
				</td>
			</tr>
			{/foreach}
		{/if}
		</tbody>
	</table>
	<!-- /basic datatable -->


</div>
<!-- /table -->
{/block}
