<!doctype html>
<html class="no-js" lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>400 Not Found</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{theme_url()}images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{theme_url()}images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{theme_url()}images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{theme_url()}images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{theme_url()}images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{theme_url()}images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{theme_url()}images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{theme_url()}images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{theme_url()}images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{theme_url()}images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{theme_url()}images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{theme_url()}images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{theme_url()}images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{theme_url()}images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{theme_url()}images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{theme_url()}/error/styles/vendor.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{theme_url()}/error/styles/main.css">
      <script src="{theme_url()}/error/scripts/vendor/modernizr.js"></script>
    </head>
    <body>
      <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div class="page_overlay">
        <div class="loader-inner ball-pulse">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="wrap4002 animated fadeIn">
        <div class="row-flex">
          <div class="messge400">
            <h1><span>404</span> </h1>
            <h2 style="font-weight: bold">Error : Page Not Found</h2>
            <div class="clearfix">&nbsp;</div>
            <p>Looks like something went completely wrong!, The page you are looking for no longer exists. Perhaps you can return back to the site's
            <a href="{site_url('/')}">homepage</a> and see if you can find what you are looking for.</p>
          </div>
        </div>
        <div class=" cloudWrapper">
          <div class="cloud cloud-1"><img src="{theme_url()}/error/images/cloud-1.png" alt=""></div>
          <div class="cloud cloud-2"><img src="{theme_url()}/error/images/cloud-2.png" alt=""></div>
          <div class="cloud cloud-4"><img src="{theme_url()}/error/images/cloud-4.png" alt=""></div>
        </div>
        <div class="waterflow">
          <div class="charecter-5">
            <div class="charecter-5anim row-flex"><div class="eye5"><img src="{theme_url()}/error/images/eye-5.gif" alt=""></div><img src="{theme_url()}/error/images/charecter-5.png" alt=""></div>
            <div class="fish"><img src="{theme_url()}/error/images/fish.png" alt="">
              <span class="bubble bubble-1"><img src="{theme_url()}/error/images/buble-1.png" alt=""></span>
              <span class="bubble bubble-2"><img src="{theme_url()}/error/images/buble-1.png" alt=""></span>
              <span class="bubble bubble-3"><img src="{theme_url()}/error/images/buble-1.png" alt=""></span>
            </div>
          </div>
        </div>
      </div>

      <script src="{theme_url()}/error/scripts/vendor.js"></script>
      <script src="{theme_url()}/error/scripts/plugins.js"></script>
      <script src="{theme_url()}/error/scripts/main.js"></script>
   </body>

</html>