{* Extend our master template *}
{extends file="default/template.html"}

{block name=specific_js}
<script type="text/javascript" src="{theme_url()}panel/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="{theme_url()}panel/assets/js/page/users.js"></script>
{/block}

{block name=main_content}
<div class="panel panel-flat">
	<div class="panel-heading">
		<h5 class="panel-title">{lang('deactivate_heading')}</h5>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        		<li><a data-action="close"></a></li>
        	</ul>
    	</div>
	</div>

	<div class="panel-body">
		<p class="content-group text-semibold">{sprintf(lang('deactivate_subheading'),$user->username)}</p>
		<div class="row">
			<div class="col-md-12">
			{form_open("users/deactivate/`$user->id`")}
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="confirm" class="styled" value="yes" checked="checked">
						{lang('deactivate_confirm_y_label')}
					</label>

					<label class="radio-inline">
						<input type="radio" name="confirm" class="styled" value="no">
						{lang('deactivate_confirm_n_label')}
					</label>
				</div>
				{form_hidden($csrf)}
				{form_hidden(['id'=>$user->id])}
				{form_submit('submit', lang('deactivate_submit_btn'),'class="btn btn-primary"')}
				<a href="javascript:history.back()" class="btn bg-teal">{lang('general_back')}</a>
			{form_close()}
			</div>
		</div>
	</div>
</div>
{/block}
