{* Extend our master template *}
{extends file="layout.html"}

{block name=meta}
	<meta name="keywords" content="{$websetting->metakeyword}, {$page->title}">
	<meta name="title" property="og:title" content="{$page->title} | {$websetting->title}"/>
	<meta name="description" property="og:description" content="{$websetting->description}">
	<meta name="image" property="og:image" content="{$file_path}setting/{$websetting->headerlogo}" />
	<meta name="dc.title" content="{$page->title} | {$websetting->title}" />
	<meta name="twitter:title" value="{$page->title} | {$websetting->title}"/>
	<meta name="twitter:description" value="{$websetting->description}" />
	<meta name="twitter:image" value="{$file_path}setting/{$websetting->headerlogo}" />
{/block}

{block name=page_content}

<!-- page content -->
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-7">
							<!-- breadcrumb -->
							<ol class="breadcrumb">
							  <li><a href="#" class="home"><span class="glyphicon glyphicon-home"></span></a></li>
							  <li class="active">Lokasi Kampus</li>
							</ol>
							<!-- /.breadcrumb -->
							<!-- page description -->
							<div class="page-description">
								{$page->body}
								 <hr>
								<div id="status"></div>
								<div id="map-canvas"></div>
								<input type="hidden" id="latitude" value="{$websetting->latitude}">
								<input type="hidden" id="longitude" value="{$websetting->longitude}">
							</div>
						<!-- /.page description -->
						</div>
						<div class="col-md-5">
							<div id="sidebar">
								<div class="panel panel-primary content-item">
									<div class="panel-heading">
										<h3 class="panel-title">Petunjuk Arah Jalan</h3>
									</div>
									<div class="panel-body">
										<div id="directions-panel"></div>
									</div>
								</div>

							</div>
							<!-- /#sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page content -->
	{/block}

	{block name=script_assets}
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false&language=id"></script>
		{js('location.js')}
	{/block}