{* Extend our master template *}
{extends file="default/template.html"}

{block name=specific_js}
<script type="text/javascript" src="{theme_url()}panel/assets/js/page/message.js"></script>
{/block}


{block name=page_navigations}
	{anchor("message/create-message", "<b><i class='icon-envelop2'></i></b>"|cat:lang('message_create'),"class='btn bg-teal-400 btn-labeled heading-btn'")}
{/block}


{block name=main_content}
<div class="panel panel-flat">
	<div class="panel-heading">
		<h6 class="panel-title">{$msg_data->name}  : {$msg_data->subject}</h6>
		<div class="heading-elements">
			<ul class="icons-list">
	    		<li><a data-action="collapse"></a></li>
	    		<li><a data-action="reload"></a></li>
	    		<li><a data-action="close"></a></li>
	    	</ul>
		</div>
	</div>

	<div class="panel-body">
		<ul class="media-list chat-list content-group">
			<li class="media">
				<div class="media-left">
					<a href="{theme_url()}panel/assets/images/placeholder.jpg">
						<img src="{theme_url()}panel/assets/images/placeholder.jpg" class="img-circle" alt="">
					</a>
				</div>

				<div class="media-body">
					<div class="media-content">{$msg_data->body}</div>
					<span class="media-annotation display-block mt-10">{time_elapsed($msg_data->created)}<a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
				</div>
			</li>
			{foreach from=$msg_reply key=id item=mr}
			<li class="media reversed">
				<div class="media-body">
					<div class="media-content">{$mr->body}</div>
					<span class="media-annotation display-block mt-10">{time_elapsed($mr->created)}<a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
				</div>

				<div class="media-right">
					<a href="{theme_url()}panel/assets/images/placeholder.jpg">
						<img src="{theme_url()}panel/assets/images/placeholder.jpg" class="img-circle" alt="">
					</a>
				</div>
			</li>
			{/foreach}
		</ul>

		<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

		<div class="row">
			<div class="col-xs-6">
	        	<ul class="icons-list icons-list-extended mt-10">
	                <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i class="icon-file-picture"></i></a></li>
	            	<li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i class="icon-file-video"></i></a></li>
	                <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
	            </ul>
			</div>

			<div class="col-xs-6 text-right">
	            <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
			</div>
		</div>
	</div>
	</div>
	<!-- /basic layout -->
{/block}
