<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Universitas Nasional Pasim &rsaquo; Halaman depan</title>

		<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
		<link rel="manifest" href="images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{theme_url()}/sites/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{theme_url()}/sites/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{theme_url()}/sites/css/style.css">

		<!-- Owl Carousel Slider CSS -->
		<link rel="stylesheet" type="text/css" href="{theme_url()}/sites/js/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="{theme_url()}/sites/js/owl-carousel/owl.theme.css">
		<link rel="stylesheet" type="text/css" href="{theme_url()}/sites/js/owl-carousel/owl.transitions.css">

		<!-- Fancybox CSS -->
		<link rel="stylesheet" type="text/css" href="{theme_url()}/sites/js/fancybox/source/jquery.fancybox.css">

		<!-- Calendar CSS -->
		<link rel="stylesheet" type="text/css" href="{theme_url()}/sites/js/calendar/clndr.css">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700,300' rel='stylesheet' type='text/css'>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	 <noscript>
            <div class="noscript-overlay">
                <div class="noscript-message">
                    <p>Please enable your javascript !, this website cannot support without javascript.</p>
                </div>
            </div>
        </noscript>
	<div id="wrapper">
	<!-- header -->
	<div id="header">
	<!-- top-bar -->
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-8">
						<div class="info-box">
							<span class="icon-info"><i class="fa fa-phone"></i></span>
							<span class="info-label">Call Us :</span><span class="info-label-content">(022) 607 2803</span>
						</div>
						<div class="info-box">
							<span class="icon-info"><i class="fa fa-envelope"></i></span>
							<span class="info-label">Email :</span><span class="info-label-content">info@pasim.ac.id</span>
						</div>
					</div>
					<div class="col-md-6 col-sm-4">
						<div class="follow-us hidden-xs">
							<span>Follow Us : </span>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- /.top-bar -->

	<!-- main-header -->
	<div class="main-header">
		<div class="container">
			<div class="col-md-4 col-sm-6">
				<div class="logo">
					<img src="{theme_url()}/sites/images/logo.png" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-6">
				<div class="search-box">
					<form action="#" id="form-search">
					  <div class="input-group">
					      <input type="text" class="form-control" placeholder="Pencarian Informasi Akademik">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
					      </span>
					   </div><!-- /input-group -->
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- ./main-header -->

	<!-- navigation -->
	<div class="navigation">
		<nav class="navbar navbar-default navbar-static-top mb-0" id="main-menu">
			  <div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand visible-xs" href="#"><img src="{theme_url()}/sites/images/logo-simple.png" alt="" height="40" style="margin-top: -11px"></a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="index.html">Beranda <span class="sr-only">(current)</span></a></li>
			        <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tentang Kami <b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="tentang-kami.html">Pendiri</a></li>
                            <li><a href="about.rektor.html">Rektorat</a></li>
                            <li><a href="about.visi-misi.html">Visi dan Misi</a></li>
                            <li class="dropdown dropdown-submenu"><a href="tentang-kami.html" class="dropdown-toggle" data-toggle="dropdown">Profil</a>
								<ul class="dropdown-menu">
                                    <li><a href="profil.html">Sejarah</a></li>
									<li><a href="profil.logo.html">Logo</a></li>
									<li><a href="about.hymne-mars.html">Hymne & Mars</a></li>
									<li><a href="profil.struktur-organisasi.html">Struktur Organisasi</a></li>
									<li><a href="about.fasilitas.html">Fasilitas</a></li>
									<li><a href="profil.sk-rektor.html">SK Rektor</a></li>
								</ul>
							</li>
                        </ul>
					</li>
			        <li class="dropdown">
			        	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fakultas<b class="caret"></b></a>
			        	 <ul class="dropdown-menu">
                           <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Ekonomi</a>
								<ul class="dropdown-menu">
                                    <li><a href="fakultas-ekonomi.html">S1 Manajemen</a></li>
									<li><a href="fakultas-ekonomi.html">S1 Akuntansi</a></li>
									<li><a href="fakultas-ekonomi.html">D3 Manajemen Perpajakan</a></li>
								</ul>
							</li>
							<li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Ilmu Komputer</a>
								<ul class="dropdown-menu">
                                    <li><a href="fakultas-ilmu-komputer.html">S1 Teknik Informatika</a></li>
									<li><a href="fakultas-ilmu-komputer.html">D3 Manajemen Informatika</a></li>
								</ul>
							</li>
							<li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Psikologi</a>
								<ul class="dropdown-menu">
                                    <li><a href="fakultas-psikologi.html">S1 Psikologi</a></li>
								</ul>
							</li>
							<li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sastra</a>
								<ul class="dropdown-menu">
                                    <li><a href="fakultas-sastra.html">S1 Sastra Jepang</a></li>
                                    <li><a href="fakultas-sastra.html">D3 Sastra Inggris</a></li>
								</ul>
							</li>
                        </ul>
			        </li>
			        <li><a href="kampus.html">Kampus</a></li>
			        <li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Akademik<b class="caret"></b></a>
			        	<ul class="dropdown-menu">
                           <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Kalender Akademik</a>
								<ul class="dropdown-menu">
                                    <li><a href="akademik.kalender-akademik.html">Kalender Akademik</a></li>
									<li><a href="akademik.krs.html">Pengisian KRS</a></li>
									<li><a href="akademik.perkuliahan.html">Perkuliahan dan Ujian</a></li>
									<li><a href="akademik.sidang.html">Tugas Akhir dan Sidang</a></li>
									<li><a href="akademik.wisuda.html">Wisuda</a></li>
									<li><a href="akademik.biaya.html">Biaya</a></li>
								</ul>
							</li>
							<li><a href="akademik.mahasiswa.html">Mahasiswa Baru</a></li>
							<li><a href="akademik.hasil-tes-masuk.html">Hasil Tes Masuk</a></li>
							<li><a href="akademik.program-beasiswa.html">Program Beasiswa</a></li>
						</ul>
			        </li>
			        <li class="dropdown">
			       	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">LPPM<b class="caret"></b></a>
			        	<ul class="dropdown-menu">
			        		<li><a href="lppm.html">Profil</a></li>
			        		<li><a href="lppm.artikel.html">Artikel</a></li>
			        		<li><a href="lppm.penelitian.html">Penelitian</a></li>
			        		<li><a href="lppm.pengabdian-masyarakat.html">Pengabdian Masyarakat</a></li>
			        	</ul>
			        </li>
			        <li class="dropdown">
			       	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lain-lain<b class="caret"></b></a>
			        	<ul class="dropdown-menu">
			        		<li><a href="foto-galeri.html">Foto Galeri</a></li>
			        		<li><a href="bursa-kerja.html">Bursa Kerja</a></li>
			        		<li><a href="pendaftaran-online.html">Pendaftaran Online</a></li>
			        	</ul>
			        </li>
			      </ul>
			       <ul class="nav navbar-nav navbar-right">
			        <li><a href="pendaftaran-online.html">Pendaftaran <i class="fa fa-graduation-cap"></i></a></li>
			     </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
	</div>
	<!-- /.navigation -->
	</div>
	<!-- /#header -->

	<!-- #slider -->
	<div id="slider">
	<!-- owl slider -->
	    <div id="main-slider" class="owl-carousel owl-theme">
	      <div class="item">
	      	<img src="{theme_url()}/sites/images/slides/slide-1.jpg" class="img-responsive" alt="The Last of us">
	      	<div class="slider-caption">
	      	<div class="container">
	      		<h1>VISION</h1>
	      		<span>To Make World Class Quality of <br>Human Resources Development in Global Era of Information System </span>
	      	</div>
	      	</div>
	      </div>
	      <div class="item">
	      	<img src="{theme_url()}/sites/images/slides/slide-2.jpg" class="img-responsive" alt="GTA V">
	      	<div class="slider-caption">
	      	<div class="container">
	      		<h1>MISSION</h1>
	      		<span>The best curriculum, the best lecturers, the best facilities </span>
	      	</div>
	      	</div>
	      </div>
	      <div class="item">
	      	<img src="{theme_url()}/sites/images/slides/slide-3.jpg" class="img-responsive" alt="Mirror Edge">
	      	<div class="slider-caption">
	      	<div class="container">
	      		<h1>MOTTO</h1>
	      		<span>Get Inspiration, Do with Motivation, and Create Successfully. </span>
	      	</div>
	      	</div>
	      </div>
	    </div>
	<!-- /.owl slider -->

	<!-- slider navigation -->
		<div class="slider-navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a href="pendaftaran-online.html"><span><i class="fa fa-graduation-cap"></i></span><h4>Pendaftaran Online</h4><p>Pendaftaran secara online</p></a></li>
						<li><a href="#"><span><i class="fa fa-cloud-download"></i></span><h4>Dowload Formulir</h4><p>Download formulir disini</p></a></li>
						<li><a href="#"><span><i class="fa fa-paper-plane"></i></span><h4>Download Browsure</h4><p>Donwload informasi pendaftaran</p></a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	<!-- /.slider navigation -->
	</div>
	<!-- /#slider -->

	<!-- #main-banner -->
	<div id="main-banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="banner-1">
					<!-- <a href="#">
						<img src="{theme_url()}/sites/images/banner.jpg" class="img-responsive" alt="banner pasim">
					</a> -->
				</div>
			</div>
		</div>
	</div>

	</div>
	<!-- /#main-banner -->

	<!-- main content -->
	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
				<!-- welcome message -->
					<div class="welcome-message">
						<h4 class="title text-red">Selamat datang di Universitas Nasional PASIM</h4>
						<a href="#"><img src="{theme_url()}/sites/images/welcome.jpg" alt="image/welcome.jpg" class="img-thumbnail pull-left"></a>
						<p>
							YAPASIM berdiri pada tanggal 11 Juni 1996  dengan akta notaris No 41 didepan notaris Dr Wiratni Ahmadi SH. Pendirian YAPASIM ini ditujukan untuk menjadi lembaga pengelola pendidikan tinggi. Oleh karena itu, setelah YAPASIM berdiri tidak berapa lama sesudah itu pendiri mengajukan ijin kepada Direktur  [..]
						</p>
						<a href="profil.html" class="link">- Selengkapnya</a>
					</div>

				<!-- /.welcome message -->
				<!-- Berita dan kegiatan -->
					<div class="panel panel-primary content-item">
						<div class="panel-heading">
							<h3 class="panel-title">Berita & Kegiatan</h3>
						</div>
						<div class="panel-body">
						<div class="headline">
							<img src="{theme_url()}/sites/images/headline-berita.jpg" class="img-thumbnail img-responsive pull-right" alt="">
							<h4 class="title"><a href="berita-detail.html">Fakultas Ekonomi UNAS PASIM Merevisi Format Silabus dan SAP (Satuan Acara Perkuliahan)</a></h4>
							<span class="date">Jumat 18 Februari 2016 14:34 wib </span>
							<p>
								Perencanaan dalam memulai sebuah perkuliahan sangatlah penting, supaya mata kuliah yang diajarkan oleh Dosen pengampu bisa di terima,dipahami serta dimengerti oleh Mahasiswa [..]
							</p>
							<a href="berita-detail.html" class="link">- Selengkapnya</a>
						</div>
						<hr>
						<div class="content-list">
							<div class="media">
								<div class="media-left hidden-xs">
									<a href="#"><img alt="64x64" class="media-object img-thumbnail" src="{theme_url()}/sites/images/berita-1.jpg"></a>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#">SEMINAR MOTIVASI VS BIAYA DALAM MELANJUTKAN KE PENDIDIKAN TINGGI</a></h5>
									<span>Jumat 18 Des 2015, 14:34 WIB</span>
									<p>Kamis (10/3/16) Universitas Nasional PASIM Bandung (UNAS PASIM) bekerjasama dengan SPIRIT Generation yang merupakan komunitas Mahasiswa[..] <a href="#" class="link">- Selengkapnya</a></p>
								</div>
							</div>
							<div class="media">
								<div class="media-left hidden-xs">
									<a href="#"><img alt="64x64" class="media-object img-thumbnail" src="{theme_url()}/sites/images/berita-1.jpg"></a>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#">PENCERAHAN TENTANG PENTINGNYA PENDIDIKAN TINGGI YANG BERKUALITAS DI SMA DAN SMK BAKTI NUSANTARA</a></h5>
									<span>Jumat 18 Des 2015, 14:34 WIB</span>
									<p>SMA DAN SMK BAKTI NUSANTARA merupakan sebuah Sekolah Lanjutan Tingkat Atas yang terletak di Kab.Bandung, tepatnya di jalan Arjasari (Lebak Wangi) No.14 Banjaran[..]<a href="#" class="link">- Selengkapnya</a></p>
								</div>
							</div>
						</div>
						</div>
					</div>
					<!-- /.Berita dan kegiatan -->

					<!-- Informasi kampus -->
					<div class="panel panel-primary content-item">
						<div class="panel-heading">
							<h3 class="panel-title text-right">Informasi Kampus</h3>
						</div>
						<div class="panel-body">
						<div class="headline">
							<img src="{theme_url()}/sites/images/headline-informasi.jpg" class="img-thumbnail img-responsive pull-right" alt="">
							<h4 class="title"><a href="informasi-detail.html">PEMBERITAHUAN WISUDA TAHUN AKADEMIK 2015/2016</a></h4>
							<span class="date">Jumat 18 Februari 2016 14:34 wib </span>
							<p>
								Berdasarkan Keputusan Rapat Rektorat dan Panitia Wisuda Universitas Nasional PASIM, maka ditetapkan pelaksanaan Wisuda Tahun Akademik 2015/2016 sebagai[..]
							</p>
							<a href="informasi-detail.html" class="link">- Selengkapnya</a>
						</div>
						<hr>
						<div class="content-list">
							<div class="media">
								<div class="media-left hidden-xs">
									<a href="#"><img alt="64x64" class="media-object img-thumbnail" src="{theme_url()}/sites/images/informasi-1.jpg"></a>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#">Pengumuman UAS Kelas Regular Sore</a></h5>
									<span>Jumat 18 Des 2015, 14:34 WIB</span>
									<p>Kepada seluruh mahasiswa kelas reguler sore kami informasi hal-hal sebagai berikut :
1. Pelaksanaan UAS (Ujian Akhir Semester) periode Oktober 20... <a href="#" class="link">- Selengkapnya</a></p>
								</div>
							</div>
							<div class="media">
								<div class="media-left hidden-xs">
									<a href="#"><img alt="64x64" class="media-object img-thumbnail" src="{theme_url()}/sites/images/informasi-2.jpg"></a>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#">Penerimaan Mahasiswa Baru Tahun Ajaran 2014</a></h5>
									<span>Jumat 18 Des 2015, 14:34 WIB</span>
									<p>Penerimaan Mahasiswa Baru Tahun Ajaran 2014/2015
Kelas Reguler Pagi (Perkuliahan Jam 07.00 s/d 17.00)
Pendaftaran Gel 1 : Tanggal 3 Maret <a href="#" class="link">- Selengkapnya</a></p>
								</div>
							</div>
						</div>
						</div>
					</div>

					<!-- /.Informasi kampus -->

				</div>
				<div class="col-md-4">
					<aside>

					<!-- #nav-sidebar -->
						<ul class="clearfix" id="nav-sidebar">
					        <li>
					            <a class="clearfix" href="#">
					                <figure><img alt="Contact Us" src="{theme_url()}/sites/images/icon-sidebar-1.png"></figure>
					                <span class="title-nav-sidebar">Hubungi Kami</span>
					                <strong>Phone:</strong> +62 384856, +62 5456789 <strong>Fax:</strong> +62 45677896
					            </a>
					        </li>
					        <li>
					            <a class="clearfix" href="lokasi.html">
					                <figure><img alt="Location" src="{theme_url()}/sites/images/icon-sidebar-2.png"></figure>
					                <span class="title-nav-sidebar">Lokasi</span> Klik di sini untuk mendapatkan arah ke lokasi kampus kami dengan bus atau mobil.
					            </a>
					        </li>
					        <li>
					            <a class="clearfix" href="#">
					                <figure><img alt="Location" src="{theme_url()}/sites/images/icon-sidebar-3.png"></figure>
					                <span class="title-nav-sidebar">Live Chat</span> Berbicara dengan Customer Service kami atau mahasiswa dan alumni
					            </a>
					        </li>
					        <li>
					            <a class="clearfix" href="#">
					                <figure><img alt="Library and Research" src="{theme_url()}/sites/images/icon-sidebar-4.png"></figure>
					                <span class="title-nav-sidebar">Perpustakaan</span> Tersedia Perpustakaan buku, dari buku sastra sampai buku sejarah.
					            </a>
					        </li>
					        <li>
					            <a class="clearfix" href="#">
					                <figure><img alt="Library and Research" src="{theme_url()}/sites/images/icon-sidebar-5.png"></figure>
					                <span class="title-nav-sidebar">Departemen Fakultas</span> Dari Ekonomi, Psikologi, Sastra and Ilmu Komputer.
					            </a>
					        </li>
					    </ul>
					<!-- #nav-sidebar -->

					<!-- .Kalender -->
					<div class="col-md-12 col-sm-6">
						<div class="panel panel-primary content-item">
							<div class="panel-heading">
								<h3 class="panel-title">Kalender<i class="fa fa-plus pull-right"></i></h3>
							</div>
							<div class="panel-body p-0">
								<div id="mini-clndr">
                                  <script id="mini-clndr-template" type="text/template">

                                    <div class="controls">
                                      <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %></div><div class="clndr-next-button">&rsaquo;</div>
                                    </div>

                                    <div class="days-container">
                                      <div class="days">
                                        <div class="headers">
                                        {literal}
                                          <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
                                        }
                                        </div>
                                        <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
                                      </div>
                                      <div class="events">
                                        <div class="headers">
                                          <div class="x-button">x</div>
                                          <div class="event-header">EVENTS</div>
                                        </div>
                                        <div class="events-list">
                                          <% _.each(eventsThisMonth, function(event) { %>
                                            <div class="event">
                                              <a href="<%= event.url %>"><%= moment(event.date).format('MMMM Do') %>: <%= event.title %></a>
                                            </div>
                                          <% }); %>
                                        {/literal}
                                        </div>
                                      </div>
                                    </div>

                                  </script>
                                </div>
							</div>
						</div>
					</div>
					<!-- /.Kalender -->

					<!-- .Galeri foto -->
						<div class="col-md-12 col-sm-6">
						<div class="panel panel-primary content-item">
							<div class="panel-heading">
								<h3 class="panel-title">Galeri Foto <i class="fa fa-plus pull-right"></i></h3>
							</div>
							<div class="panel-body p-0">
							<div class="galeri-box">
							<div class="ico-foto"><img src="{theme_url()}/sites/images/ico_foto.png" alt=""></div>
								<div id="galeri-foto" class="owl-carousel owl-theme">
								    <div class="item">
									    <div class="galeri-caption">
									    	<h4><a href="images/foto-1.jpg" data-trigger="fancybox" title="UNAS PASIM Terima kunjungan STIMIK Indonesia-Banjarmasin">UNAS PASIM Terima kunjungan STIMIK Indonesia-Banjarmasin</a></h4>
									    	<span>Jumat 18 Maret 2016</span>
									    </div>
									    <img src="{theme_url()}/sites/images/foto-1.jpg" alt="The Last of us">
								    </div>
								  	<div class="item">
									    <div class="galeri-caption">
									    	<h4><a href="images/foto-1.jpg" data-trigger="fancybox" title="UNAS PASIM Terima kunjungan STIMIK Indonesia-Banjarmasin">UNAS PASIM Terima kunjungan STIMIK Indonesia-Banjarmasin</a></h4>
									    	<span>Jumat 18 Maret 2016</span>
									    </div>
									    <img src="{theme_url()}/sites/images/foto-1.jpg" alt="The Last of us">
								    </div>
								    <div class="item">
									    <div class="galeri-caption">
									    	<h4><a href="images/foto-1.jpg" data-trigger="fancybox" title="UNAS PASIM Terima kunjungan STIMIK Indonesia-Banjarmasin">UNAS PASIM Terima kunjungan STIMIK Indonesia-Banjarmasin</a></h4>
									    	<span>Jumat 18 Maret 2016</span>
									    </div>
									    <img src="{theme_url()}/sites/images/foto-1.jpg" alt="The Last of us">
								    </div>

								</div>
							</div>
							</div>
						</div>
						</div>
					<!-- /.Galeri foto -->

					<!-- .pasim tv -->
						<div class="col-md-12 col-sm-6">
						<div class="panel panel-primary content-item">
							<div class="panel-heading">
								<h3 class="panel-title">Video<i class="fa fa-plus pull-right"></i></h3>
							</div>
							<div class="panel-body p-0">
								<div class="video-box">
									<div class="ico-video"><img src="{theme_url()}/sites/images/ico_video.png" alt=""></div>
									<div class="item">
									 		<div class="galeri-caption">
										    	<h4><a class="video-player fancybox.iframe" href="http://www.youtube.com/embed/0nCPmhiz3XQ?autoplay=1">Profil Universitas Nasional PASIM</a></h4>
										    	<span>Jumat 18 Maret 2016</span>
										    </div>
										<img src="{theme_url()}/sites/images/video-1.jpg" alt="PASIM TV" class="img-responsive">
									</div>
								</div>
							</div>
						</div>
						</div>
					<!-- /.pasim tv -->
					</aside>
				</div>
			</div>
		</div>
	</div>
	<!-- /. main content -->

	<!-- komentar pakar  -->
	<div class="intro-principal">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<article class="static-page" id="intro-principal">
				    <h3 id="title-principal">Letjen (purn). Ir. H. Azwar Anas, DDR <span style="font-family: 'Raleway';font-weight: 300">- Yayasan Pendidikan Kader Keuangan dan Perbankan</span></h3>
				    <figure>
				        <img alt="Letjen (purn). Ir. H. Azwar Anas." src="{theme_url()}/sites/images/azwar-anas.png" class="img-responsive">
				    </figure>
				    <div id="content-principal">
				        <p>Kita semua mengetahui bahwa kota Bandung merupakan salah satu kota pendidikan di Indonesia yang menghasilkan banyak orang berprestasi. Hal ini tentu tidak terlepas dari peran serta lembaga pendidikan dalam mendidik dan menghasilkan sumber daya manusia yang berprestasi dan berkwalitas. Dengan di iringi rasa syukur, saya berharap Universitas Nasional PASIM sebagai salah satu Lembaga Pendidikan di kota Bandung akan semakin berkembang dan terus melanjutkan kiprah dan peranannya dalam mencerdaskan kehidupan bangsa.</p>
				        <p>
				        	<strong>Ketua Dewan Penyantun YPKKP</strong>
				        </p>
				    </div>
				</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /.komentar pakar  -->

	<!-- #footer -->
	<footer id="main-footer" style="background:url({theme_url()}/sites/images/img-8.jpg) no-repeat 50% 0;">
		<div class="container">
	        <div id="blur-top">
	            <a href="#" data-href="#wrapper" id="link-back-top">Back to Top</a>
	        </div>
	    </div>
        <div id="slogan-footer">
            <h4>Get Inspiration, Do With Motivation  <span>Create</span> Successfully</h4>
        </div>
        <div id="footer-content" class="clearfix">
            <div id="footer-container">
            <div class="container">
            	<div class="row">
				<div class="col-md-4">
					<h4 class="footer-title">Quick Navigation</h4>
					<ul class="footer-menu-list">
						<li><a href="index.html">Home</a></li>
						<li><a href="tentang-kami.html">Tentang Kami</a></li>
						<li><a href="fakultas.html">Fakultas</a></li>
						<li><a href="kampus.html">Kampus</a></li>
						<li><a href="akademik.kalender-akademik.html">Akademik</a></li>
						<li><a href="lppm.html">LPPM</a></li>
						<li><a href="kontak.html">Kontak</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4 class="footer-title">Lokasi Kampus</h4>
					<iframe class="map-area" src="http://maps.google.com/?ie=UTF8&amp;ll=-6.8945049,107.5716251&amp;spn=0.006313, 0.01133&amp;t=m&amp;z=17&amp;output=embed"></iframe>
				</div>
				<div class="col-md-4">
					<article class="clearfix" id="footer-address">
					    <h3 id="title-footer-address"><span>Hubungi Kami</span></h3>
					    <p><strong>Anda dapat menghubungi kami melalui Telepon kami (022) 607 2803, atau Melalui FFaximile  (022) 6072803 </strong></p>
					    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo numquam, velit odio. Iste magni ratione eum quidem odio expedita dolore possimus fugiat explicabo voluptate inventore laudantium accusamus quo.</p>
					    <ul class="clearfix" id="list-social">
					        <li id="icon-facebook"><a href="#">&nbsp;</a></li>
					        <li id="icon-twitter"><a href="#">&nbsp;</a></li>
					        <li id="icon-gplus"><a href="#">&nbsp;</a></li>
					        <li id="icon-linkedin"><a href="#">&nbsp;</a></li>
					        <li id="icon-youtube"><a href="#">&nbsp;</a></li>
					        <li class="last" id="icon-flickr"><a href="#">&nbsp;</a></li>
					    </ul>
					</article>
				</div>
				</div>
	        </div>
            </div>
        </div>
    <div class="footer-copyright-content">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4">
    				<a href="#" id="logo-footer"><img src="{theme_url()}/sites/images/logo-putih.png" data-retina="images/logo-footer-retina.png" alt="Universitas nasional pasim" /></a>
    			</div>
    			<div class="col-md-4">
    				<p id="text-address">Jl. Dakota No.8a Sukaraja Bandung </p>
    			</div>
    			<div class="col-md-4">
    				<p id="text-copyright">Copyright &copy; AHMAD SANUSI  2016. All rights reserved</p>
    			</div>
    		</div>
    	</div>
    </div>
    </footer>
	<!-- /#footer -->
	</div>
	<!-- /#wrapper -->

	<!-- Load Script at the bottom -->
	<script type="text/javascript" src="{theme_url()}/sites/js/jquery-1.12.1.min.js"></script>
	<!-- Bootstrap -->
	<script type="text/javascript" src="{theme_url()}/sites/js/bootstrap.min.js"></script>
	<!-- Owl Carousel -->
	<script type="text/javascript" src="{theme_url()}/sites/js/owl-carousel/owl.carousel.min.js"></script>
	<!-- Fancybox -->
	<script type="text/javascript" src="{theme_url()}/sites/js/fancybox/source/jquery.fancybox.min.js"></script>

	<!-- Calendar -->
	<script type="text/javascript" src="{theme_url()}/sites/js/calendar/underscore-min.js"></script>
	<script type="text/javascript" src="{theme_url()}/sites/js/calendar/moment.min.js"></script>
	<script type="text/javascript" src="{theme_url()}/sites/js/calendar/clndr.min.js"></script>

	<!-- Jquery initialize -->
	<script type="text/javascript" src="{theme_url()}/sites/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="{theme_url()}/sites/js/jquery.init.js"></script>
	</body>
</html>